services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo-app
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      db:
        condition: "service_started"
    networks:
      - todo-net

  db:
    image: postgres:17.6
    container_name: todo_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - todo-net

networks:
  todo-net:
    driver: bridge

volumes:
  postgres_data: